/* Brand */
.navbar-brand {
  font-size: 1.4rem;
}

/* Navigation links */
.nav-link {
  margin-left: 10px;
  transition: 0.3s;
}

.nav-link:hover {
  color: yellow !important;
}

/* Mobile */
@media (max-width: 991px) {
  .navbar-nav {
    text-align: center;
    padding-top: 10px;
  }

  .nav-item {
    margin: 8px 0;
  }

  .nav-link {
    margin-left: 0;
  }
}
