* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Navbar */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #1f2937;
  padding: 15px 40px;
  color: white;
  position: relative;
}

/* Logo */

.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Menu */

.nav-links {
  display: flex;
  list-style: none;
  gap: 25px;
}

.nav-links li {
  list-style: none;
}

.nav-links li a {
  text-decoration: none;
  color: white;
  font-size: 17px;
  padding: 10px 15px;
  border-radius: 5px;
  transition: .3s;
}

.nav-links li a:hover {
  background: #2563eb;
}

/* Hamburger */

.hamburger {
  display: none;
  font-size: 32px;
  cursor: pointer;
}

/* Mobile */

@media screen and (max-width:768px) {

  .hamburger {
    display: block;
  }

  .nav-links {
    position: absolute;
    top: 70px;
    left: -100%;
    width: 100%;
    background: #1f2937;
    flex-direction: column;
    text-align: center;
    transition: .4s;
    gap: 0;
  }

  .nav-links.active {
    left: 0;
  }

  .nav-links li {
    padding: 18px 0;
    border-top: 1px solid rgba(255,255,255,.1);
  }

  .nav-links li a {
    display: block;
    width: 100%;
  }

  .logo {
    font-size: 20px;
  }
}
